/* =========================================
   1. IMPORTAÇÕES E RESET GLOBAL
   ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* { 
    box-sizing: border-box; 
    font-family: 'Press Start 2P', cursive; 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: #222;
    background-image: url('assets/backgroundSpace.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* =========================================
   2. ESTRUTURA DO GAME BOY
   ========================================= */
.gameboy {
    background-color: #a50000; /* Vermelho Clássico */
    width: 320px;
    height: 540px;
    border-radius: 15px 15px 60px 15px;
    padding: 20px;
    box-shadow: 
        inset 5px 5px 10px rgba(255,255,255,0.3), /* Iluminação interna */
        10px 10px 20px rgba(0,0,0,0.5); /* Sombra externa */
    position: relative;
}

/* --- MOLDURA DA TELA (Cinza Escuro) --- */

.screen-bezel {
    background-color: #303030;
    border-radius: 10px 10px 40px 10px;
    padding: 30px 30px 10px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.8);
    margin-bottom: 20px;
    position: relative;
}

/* Linhas decorativas (Azul e Vermelho escuro) */

/* Luz da Bateria */
.battery-light {
    width: 10px;
    height: 10px;
    background-color: #FF0000; /* LED Ligado */
    box-shadow: 0 0 5px #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 10px;
}

#text-power {
    font-size: 5px;
    margin-top: 14px;
    margin-left: -5px;
    color: #3e473d;
}

/* =========================================
   3. TELA LCD (Display)
   ========================================= */
.lcd-screen {
    background-color: #8bac0f; /* Verde Musgo Game Boy */
    background-image: linear-gradient(#8bac0f 50%, #7e9c0d 50%); /* Efeito Scanlines */
    background-size: 100% 4px;
    width: 100%;
    height: 180px;
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza conteúdo padrão */
    text-align: center;
    color: #0f380f; /* Verde Escuro quase preto (Cor dos pixels) */
    padding: 10px;
    position: relative;
    overflow: hidden;
}

/* --- ELEMENTOS DE TEXTO (Start Screen) --- */
.logo {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(15, 56, 15, 0.4);
}

/* Animação de Texto - Tela Principal*/
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.blink-text {
    font-size: 0.6rem;
    margin-top: 20px;
    animation: blink 1s infinite;
}

/* Animação de Texto - Tela Secundaria*/
.sec-title {
    color: rgb(78, 44, 0);
    will-change: transform;
    animation: blink 3s infinite, flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes off{

}

/* =========================================
   4. ELEMENTOS DO JOGO
   ========================================= */
/* Topo do HUD (Score, etc) */
.hud-top {
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    border-bottom: 2px solid #0f380f;
    padding-bottom: 2px;
    margin-bottom: 5px;
    width: 100%;
}

.saldoTxt {
    margin-top: 2px;
}

/* Container dos Rolos (Slots) */
.reels-container {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    background: #0f380f; /* Fundo escuro para separar os rolos */
    padding: 2px;
    border: 2px solid #0f380f;
    height: 80px;
    position: relative;
    width: 100%;
}

.reel {
    /* Cor da tela dentro do rolo */
    background: #8bac0f; 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    
    /* Emoji LCD */
    color: transparent;
    opacity: 0.7;
    text-shadow: 0 0 0 #0f380f; /* Cria silhueta flat */
    filter: drop-shadow(0px 2px 0px rgba(0,0,0,0.2));
}

/* Rodapé do HUD */
.hud-bottom {
    margin-top: auto;
    border-top: 2px solid #0f380f;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    width: 100%;
}

.face-box {
    border: 1px solid #0f380f;
    padding: 2px;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: -14px;
}

/* Estilo para Imagem Customizada (ex: Slayer) */
#slayer {
    width: 30px;
    height: 30px;
    /* Truque para integrar imagem ao LCD */
    filter: grayscale(100%) contrast(150%); 
    mix-blend-mode: multiply; 
    opacity: 0.9;
}

#sub-gbp {
    font-size: 15px;
    margin: 10px;
    color: #3e473d;
    margin-left: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub-gbp mark {
    font-size: 9px;
    padding-top: 4px;
    padding-right: 4px;
    margin: 10px;
    margin-left: 3px;
    background-color: #3e473d;
    color: #303030;
    font-family: monospace;
}

/* =========================================
   5. CONTROLES E BOTÕES
   ========================================= */
.controls-area {
    position: relative;
    height: 200px;
}

/* --- D-PAD (Direcionais) --- */
.d-pad {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
    height: 90px;
}

.d-pad div { 
    background-color: #222; 
    position: absolute; 
    border-radius: 3px; 
    box-shadow: 2px 2px 0 rgba(0,0,0,0.2); 
}

/* Setinhas Y*/
.d-pad .fbtn-y { 
    width: 100%; 
    height: 30px; 
    top: 30px; 
    cursor: pointer;
}
/* Setinhas X*/
.d-pad .fbtn-x { 
    width: 30px; 
    height: 100%; 
    left: 30px; 
    cursor: pointer;
}

.d-pad .middle { 
    width: 30px; 
    height: 30px; 
    top: 30px; 
    left: 30px; 
    cursor: pointer;
    background: radial-gradient(circle, #000000d5 10%, #252525); 
}

/* --- BOTÕES A e B --- */

.action-buttons {
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    gap: 15px;
    transform: rotate(-25deg);
}

.btn-group {
    position: relative;
}

/* Estilo dos Botões Redondos */
.btn-round {
    display: block; /* Garante área de clique */
    width: 40px;
    height: 40px;
    background-color: #222; /* Preto (contraste com vermelho) */
    border-radius: 50%;
    box-shadow: 
    2px 2px 5px rgba(0,0,0,0.3), 
    inset -2px -2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    border: none;
    transition: all 0.1s;
}

#btn-A {
    background-color: #222;
}

#btn-B {
    background-color: #bdbdbd;
}

/* Efeito de clique físico */
.btn-round:active {
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
    transform: scale(0.95);
}

.btn-label {
    position: absolute;
    bottom: -20px;
    right: 10px;
    font-size: 10px;
    color: #333;
    font-weight: bold;
    pointer-events: none;
}

/* --- SELECT e START --- */
.option-buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

/* Bottons */
.btn-pill {
    width: 50px;
    height: 12px;
    background-color: #6e6e6e;
    border-radius: 10px;
    border: 1px solid #444444;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.btn-pill:active {
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);
    transform: scale(0.95);
}

/* Text bottons */
.pill-label {
    font-size: 8px;
    color: #bdbdbd;
    text-align: center;
    margin-top: 5px;
    display: block;
    margin-left: -4px;
}



/* --- Linhas de Detalhes --- */
.speaker {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.speaker-slot {
    width: 60px;
    height: 4px;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 4px;
    border-radius: 2px;
    transform: rotate(-25deg);
}
